<!DOCTYPE html>
<html>
<head>
    <!-- Basic -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="keywords" content="HTML5 Theme Nodejs Handlerbars Express Template">
    <meta name="description" content="Megakit">
    <meta name="author" content="keenthemes.com">
    <title>{{title}}</title>
    <!-- Web Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,400i|Montserrat:400,700" rel="stylesheet">
    <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" rel="stylesheet">
    <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdn.bootcss.com/animate.css/3.5.2/animate.min.css" rel="stylesheet">
    <link href="https://cdn.bootcss.com/Swiper/3.3.1/css/swiper.min.css" rel="stylesheet">

    {{!--Vendor Styles (style here)--}}
    {{#block "style"}}{{/block}}

    <!-- Favicon -->
    <link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon">
    <link rel="apple-touch-icon" href="img/apple-touch-icon.png">

    {{!--IE polyfill--}}
    {{> "common/ie8_polyfill"}}
</head>
<body>
{{!--IE polyfill--}}
{{> "common/lt_ie7_notice"}}

{{!--body here--}}
{{{this.body}}}

<!-- Back To Top -->
<a href="javascript:void(0);" class="s-back-to-top js__back-to-top"></a>

{{#eq @NODE_ENV 'development'}}
    <script src="/reload/reload.js"></script>
{{/eq}}

<!-- vendor -->
<script type="text/javascript" src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
<script type="text/javascript" src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script type="text/javascript" src="https://cdn.bootcss.com/Swiper/3.3.1/js/swiper.jquery.min.js"></script>

{{#block "script"}}{{/block}}
</body>
</html>