<!--========== HEADER V2 ==========-->
<header class="navbar-fixed-top s-header-v2 js__header-sticky">
    <!-- Navbar -->
    <nav class="s-header-v2__navbar">
        <div class="container g-display-table--lg">
            <!-- Navbar Row -->
            <div class="s-header-v2__navbar-row">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="s-header-v2__navbar-col">
                    <button type="button" class="collapsed s-header-v2__toggle" data-toggle="collapse" data-target="#nav-collapse" aria-expanded="false">
                        <span class="s-header-v2__toggle-icon-bar"></span>
                    </button>
                </div>

                <div class="s-header-v2__navbar-col s-header-v2__navbar-col-width--180">
                    <!-- Logo -->
                    <div class="s-header-v2__logo">
                        <a href="/" class="s-header-v2__logo-link">
                            <img class="s-header-v2__logo-img s-header-v2__logo-img--default" src="img/logo-white.png" alt="Dublin Logo">
                            <img class="s-header-v2__logo-img s-header-v2__logo-img--shrink" src="img/logo.png" alt="Dublin Logo">
                        </a>
                    </div>
                    <!-- End Logo -->
                </div>

                <div class="s-header-v2__navbar-col s-header-v2__navbar-col--right">
                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse s-header-v2__navbar-collapse" id="nav-collapse">
                        <ul class="s-header-v2__nav">
                            <!-- Home -->
                            <li class="dropdown s-header-v2__nav-item s-header-v2__dropdown-on-hover">
                                <a href="/" class="dropdown-toggle s-header-v2__nav-link -is-active" data-toggle="dropdown" role="button" aria-haspopup="true"
                                   aria-expanded="false">Home <span class="g-font-size-10--xs g-margin-l-5--xs ti-angle-down"></span></a>
                                <ul class="dropdown-menu s-header-v2__dropdown-menu">
                                    <li>
                                        <a href="/" class="s-header-v2__dropdown-menu-link {{#eq title "Megakit"}}-is-active{{/eq}}">Megakit</a>
                                    </li>
                                    <li>
                                        <a href="/lawyer" class="s-header-v2__dropdown-menu-link {{#eq title "Lawyer"}}-is-active{{/eq}}">Lawyer</a>
                                    </li>
                                    <li>
                                        <a href="/app" class="s-header-v2__dropdown-menu-link {{#eq title "App"}}-is-active{{/eq}}">App</a>
                                    </li>
                                    <li>
                                        <a href="/events" class="s-header-v2__dropdown-menu-link {{#eq title "Events"}}-is-active{{/eq}}">Events</a>
                                    </li>
                                    <li>
                                        <a href="/clinic" class="s-header-v2__dropdown-menu-link {{#eq title "Clinic"}}-is-active{{/eq}}">Clinic</a>
                                    </li>
                                </ul>
                            </li>
                            <!-- End Home -->

                            <!-- Pages -->
                            <li class="dropdown s-header-v2__nav-item s-header-v2__dropdown-on-hover">
                                <a href="javascript:void(0);" class="dropdown-toggle s-header-v2__nav-link" data-toggle="dropdown" role="button"
                                   aria-haspopup="true" aria-expanded="false">Pages <span class="g-font-size-10--xs g-margin-l-5--xs ti-angle-down"></span></a>
                                <ul class="dropdown-menu s-header-v2__dropdown-menu">
                                    <li>
                                        <a href="/team" class="s-header-v2__dropdown-menu-link {{#eq title "Team"}}-is-active{{/eq}}">Team</a>
                                    </li>
                                    <li>
                                        <a href="/faq" class="s-header-v2__dropdown-menu-link {{#eq title "FAQ"}}-is-active{{/eq}}">FAQ</a>
                                    </li>
                                    <li>
                                        <a href="/error" class="s-header-v2__dropdown-menu-link {{#eq title "Error"}}-is-active{{/eq}}">Error</a>
                                    </li>
                                </ul>
                            </li>
                            <!-- End Pages -->
                            <li class="s-header-v2__nav-item">
                                <a href="/about" class="s-header-v2__nav-link {{#eq title "About"}}-is-active{{/eq}}">About</a></li>
                            <li class="s-header-v2__nav-item">
                                <a href="/services" class="s-header-v2__nav-link {{#eq title "Services"}}-is-active{{/eq}}">Services</a>
                            </li>
                            <li class="s-header-v2__nav-item">
                                <a href="/portfolio" class="s-header-v2__nav-link {{#eq title "Portfolio"}}-is-active{{/eq}}">Portfolio</a>
                            </li>
                            <li class="s-header-v2__nav-item">
                                <a href="/contacts" class="s-header-v2__nav-link {{#eq title "Contacts"}}-is-active{{/eq}}">Contacts</a>
                            </li>
                        </ul>
                    </div>
                    <!-- End Nav Menu -->
                </div>
            </div>
            <!-- End Navbar Row -->
        </div>
    </nav>
    <!-- End Navbar -->
</header>
<!--========== END HEADER V2 ==========-->
