{{#extend "common/_header"}}
    {{#content "logo"}}
        <a href="/" class="s-header__logo-link">
            <img class="s-header__logo-img s-header__logo-img-default" src="img/logo-gold.png" alt="Megakit Logo">
            <img class="s-header__logo-img s-header__logo-img-shrink" src="img/logo-gold-dark.png" alt="Megakit Logo">
        </a>
    {{/content}}
{{/extend}}
