<ul class="list-unstyled s-header__nav-menu">
    <li class="s-header__nav-menu-item">
        <a class="s-header__nav-menu-link s-header__nav-menu-link-divider {{#eq title "Megakit"}}-is-active{{/eq}}" href="/">Megakit</a>
    </li>
    <li class="s-header__nav-menu-item">
        <a class="s-header__nav-menu-link s-header__nav-menu-link-divider {{#eq title "App"}}-is-active{{/eq}}" href="/app">App</a>
    </li>
    <li class="s-header__nav-menu-item">
        <a class="s-header__nav-menu-link s-header__nav-menu-link-divider {{#eq title "Portfolio"}}-is-active{{/eq}}" href="/portfolio">Portfolio</a>
    </li>
    <li class="s-header__nav-menu-item">
        <a class="s-header__nav-menu-link s-header__nav-menu-link-divider {{#eq title "Lawyer"}}-is-active{{/eq}}" href="/lawyer">Lawyer</a>
    </li>
    <li class="s-header__nav-menu-item">
        <a class="s-header__nav-menu-link s-header__nav-menu-link-divider {{#eq title "Clinic"}}-is-active{{/eq}}" href="/clinic">Clinic</a>
    </li>
    <li class="s-header__nav-menu-item">
        <a class="s-header__nav-menu-link s-header__nav-menu-link-divider {{#eq title "Error"}}-is-active{{/eq}}" href="/error">Error(404)</a>
    </li>
</ul>

<ul class="list-unstyled s-header__nav-menu">
    <li class="s-header__nav-menu-item">
        <a class="s-header__nav-menu-link s-header__nav-menu-link-divider {{#eq title "About"}}-is-active{{/eq}}" href="/about">About</a>
    </li>
    <li class="s-header__nav-menu-item">
        <a class="s-header__nav-menu-link s-header__nav-menu-link-divider {{#eq title "Team"}}-is-active{{/eq}}" href="/team">Team</a>
    </li>
    <li class="s-header__nav-menu-item">
        <a class="s-header__nav-menu-link s-header__nav-menu-link-divider {{#eq title "Services"}}-is-active{{/eq}}" href="/services">Services</a>
    </li>
    <li class="s-header__nav-menu-item">
        <a class="s-header__nav-menu-link s-header__nav-menu-link-divider {{#eq title "Events"}}-is-active{{/eq}}" href="/events">Events</a>
    </li>
    <li class="s-header__nav-menu-item">
        <a class="s-header__nav-menu-link s-header__nav-menu-link-divider {{#eq title "Faq"}}-is-active{{/eq}}" href="/faq">FAQ</a>
    </li>
    <li class="s-header__nav-menu-item">
        <a class="s-header__nav-menu-link s-header__nav-menu-link-divider {{#eq title "Contacts"}}-is-active{{/eq}}" href="/contacts">Contacts</a>
    </li>
</ul>
